<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanqiao.dao.SysCourseMapper" >
  <!--通用方法   课程名称   为了兼容以前的代码         -->
  <select id="selectCourse" resultType="map" >
    select 
   course_name  as  label ,course_id  as value ,type as del_flag
    from sys_course
  </select>
 <!-- 查询 班级已经上课时-->
  <select id="selectsyllabusbyclassId" resultType="Integer"  parameterType="Integer">
   SELECT  sum(class_time)  from  lqms.t_teacher_course_arrangement  where  class_id=#{classid}  and  ca_status=0
  </select>
  <select id="getCourseById" parameterType="int" resultType="com.lanqiao.dto.CourseDTO">
  	SELECT 
    	sc.course_id courseId, sc.course_name courseName, (
        CASE sc.type
        WHEN 1 THEN
            '启用'
        WHEN 0 THEN
            '禁用'
        ELSE
            '未知'
        END
    ) typeStr,sc.type, sc.standard_money standardMoney, sc.entryfee, sc.lq_courseType lqCoursetypeStr
    	 FROM sys_course sc where sc.course_id=#{courseId}  
  </select>
 <select id="findAllCourseByAdmin" resultType="com.lanqiao.dto.CourseDTO">
		SELECT 
    	sc.course_id courseId, sc.course_name courseName, (
        CASE sc.type
        WHEN 1 THEN
            '启用'
        WHEN 0 THEN
            '禁用'
        ELSE
            '未知'
        END
    ) typeStr, sc.standard_money standardMoney, sc.entryfee, (
        CASE sc.lq_courseType
        WHEN 1 THEN
           'JAVAEE'
        WHEN 2 THEN
           'Android'
        WHEN 3 THEN
           'iOS'
        WHEN 4 THEN
           '测试'
        WHEN 5 THEN
           'UI'
        WHEN 6 THEN
           '产品经理'
        ELSE
           'NULL'
        END
    ) lqCoursetypeStr,
    DATE_FORMAT(sc.create_time,'%Y-%m-%d %H:%m:%s') timeStr, 
    sc.user_id usreId, sc.total_class totalClass
    	 FROM sys_course sc
	</select>
	<insert id="insertCourseByAdmin" parameterType="com.lanqiao.model.SysCourse" useGeneratedKeys="true" keyProperty="courseId" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jun 27 14:28:36 CST 2017.
    -->
    insert into sys_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="standardMoney != null" >
        standard_money,
      </if>
      <if test="entryfee != null" >
        entryfee,
      </if>
      <if test="lqCoursetype != null" >
        lq_courseType,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="totalClass != null" >
        total_class,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="standardMoney != null" >
        #{standardMoney,jdbcType=DECIMAL},
      </if>
      <if test="entryfee != null" >
        #{entryfee,jdbcType=DECIMAL},
      </if>
      <if test="lqCoursetype != null" >
        #{lqCoursetype,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="totalClass != null" >
        #{totalClass,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>